
html{
  scroll-behavior: smooth;
}

body{
  text-align: center;
}

h4{
  color: #fefefe;
}

a{
  text-decoration: none;
}
/* navbar */
.container-fluid{
  padding: 1% 6%;
  background-color: #FFECEF;
}

nav{
  padding-top: 0;
}
/* welcome section */
#welcome-section{
  padding: 19% 6%;
  height: 100vh;
  background-color: #251B37;
  color: #fefefe;
}

/* Project section */

#projects{
  padding: 3% 6%;
  background-color: #372948;
  color: #fefefe;
}

.project-heading{
  font-weight: 700;
  font-size: 2.7rem;
  line-height: 3;
  text-decoration: underline;
}

.project-title{
  margin: 10px 0;
}

.card{
  border-color: #372948;
}

.card-body{
  background-color: #000;
}
.mySpan{
  color: #000;
}
.mySpan:hover{
  color: orange;
}

/* Contact Section */
#contact{
  padding: 15% 8%;
  background-color: #5B3B8C;
  color: #fefefe;
}

.contact-icon{
  display: inline-block;
  padding-right: 30px;
  padding-top: 20px;
  font-size: 1.1rem;
  font-weight: 600;
  color: #000;
}

.footer-link1:hover{
  color:  #3b5998;
}

.footer-link2:hover{
  color:  #00acee;
}

.footer-link3:hover{
  color:  #171515;
}

.footer-link4:hover{
  color:  #00008B;
}

.footer-link5:hover{
  color: #027920;
}

.contact-heading{
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 2;
}
.caption{
  font-size: 1.5rem;
  font-style: italic;
  padding-bottom: 5px;
}
@media maxwidth:400px {
  body{
    background-color: #fff;
  }
}
